@model Aviacion_Civil_Web.Models.Vuelos

@{
    ViewBag.Title = "Create";
    var CapacidadMaxima = ViewBag.CapacidadMaxima;
}

<h2>Creacion de Vuelo</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.AeropuertoFK, "Aeropuerto", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("AeropuertoFK", null, htmlAttributes: new { @class = "form-control" })

            @Html.ValidationMessageFor(model => model.AeropuertoFK, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RutaFK, "Ruta", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("RutaFK", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.RutaFK, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Fecha, new { @type = "date", @class = "form-control datepicker", })
            @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Pasajeros, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Pasajeros, new { htmlAttributes = new { @class = "form-control", @min = "0", @max = CapacidadMaxima} })
            @Html.ValidationMessageFor(model => model.Pasajeros, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @{
                string URL = Request.Url.ToString();
            }
            <a class="botonGeneral colorRojo" href="@URL" role="button"> Cancelar</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit" value="Guardar" class="botonGeneral colorVerde" />
        </div>
    </div>
</div>

}

<div>
    @Html.ActionLink("Volver", "Index",null, new { @class = "botonGeneral colorGris" })
</div>

<br />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
