@model Aviacion_Civil_Web.Models.Aeropuertos

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Aeropuerto</h2>

<h3>Esta seguro que quiere eliminar este aeropuerto?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Habilitado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Habilitado)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="col-md-offset-1 col-md-11">
            <input type="submit" value="Eliminar" class="botonGeneral colorRojo" />
        </div>
    }
</div>
<br /><br />

<div class="form-actions no-color">
    @Html.ActionLink("Volver", "Index", null, new { @class = "botonGeneral colorGris" })
</div>
<br /><br />
